nav{
	background: rgb(87, 124, 161);
}
.dropdown-content
{
	min-width: 240px;
}
.dropdown-content li>a, .dropdown-content li>span
{
	color: #577ca1;
}
.collection .collection-item.active {
	background-color: #577ca1;
}

.collection a.collection-item {
	color: #577ca1;
}
.collapsible-body
{
	padding-top: 0px;
	padding-bottom: 0px;
}