nav{
	background: rgb(87, 124, 161);
}
.dropdown-content
{
	min-width: 240px;
}
.dropdown-content li>a, .dropdown-content li>span
{
	color: #577ca1;
}
.collection .collection-item.active {
	background-color: #577ca1;
}

.collection a.collection-item {
	color: #577ca1;
}
.collapsible-body
{
	padding-top: 0px;
	padding-bottom: 0px;
}
input[type=number]
{
	text-align:center;
}
input[type=search]:not(.browser-default)
{
	box-sizing:border-box;
	padding:6px 6px 6px 29px;
	margin:17px 0;
	border-radius:14px;
	background: #224b7a;
	color:#d9e2ec;
}


input.text.ts_input{
	border:0;
	box-sizing:border-box;
	padding:6px 6px 6px 19px;
	margin:7px 0;
	height:28px;
	line-height:16px;
	width:230px;
	border-radius:14px;
	-o-transition:background-color 0.05s, color 0.05s;
	transition:background-color 0.05s, color 0.05s;
	background: #224b7a;
	padding-left:19px;
	border-left:8px solid transparent;
	background-position:left 8px;
	color:#d9e2ec;
}

input.text.ts_input::-webkit-input-placeholder{
	color:#8fadc8
}

input.text.ts_input::-moz-placeholder,input.text.ts_input:-moz-placeholder{
	color:#8fadc8
}
input.text.ts_input:-ms-input-placeholder {
	 color:#8fadc8
}
input.text.ts_input~.placeholder .ph_content{
	color:#8fadc8
}
input.text.ts_input:focus{
	background-color:#fff;
	color:#000
}
.card{
	margin: 30px;
}
.btn, .btn-large{
	background-color: #577ca1;
}
.waves-effect.waves-blue .waves-ripple {
	/* The alpha value allows the text and background color
    of the button to still show through. */
	background-color: rgb(87, 124, 161);
}

.btn:hover, .btn-large:hover {
	background-color: rgba(87, 124, 161, 0.71);
}